# SETS

* sets are initialised using { }
* sets doesn't follow any order
* there is no indexing
* Duplicates are not allowed
* Elements of all data types can be stored
* they are mutable but not according to indexing
* all elements of sets are unique
* Elements are arranged according to the ascending way : if elements are string then they are arranged alphabetically, if integers or float then in ascending order

## creation of Empty set

In [12]:
set1 = {} # This is the wrong way to create an empty set it will show the type of set as dict

In [14]:
type(set1)

dict

In [16]:
set1 = set() # This is the right way to create an empty set

In [18]:
type(set1)

set

In [20]:
set1 = {20, "Rahul", "Rohit", 23.5, True}

In [22]:
set1

{20, 23.5, 'Rahul', 'Rohit', True}

## Functions on sets

* add()
* remove()
* pop()
* clear()
* discard()
* union()
* intersection()
* difference()
* symmetric_difference()
* update()
* intersection_upate()
* difference_update()
* symmetric_difference_update()
* issubset()
* issuperset()
* isdisjoint()
* copy()

In [27]:
myset = {1,2,3,4,"Bhavik"}

In [29]:
myset.add("rahul")

In [31]:
myset

{1, 2, 3, 4, 'Bhavik', 'rahul'}

In [33]:
myset.remove(3)

In [35]:
myset

{1, 2, 4, 'Bhavik', 'rahul'}

In [37]:
myset.pop()

1

In [39]:
myset

{2, 4, 'Bhavik', 'rahul'}

In [41]:
myset.discard()

TypeError: set.discard() takes exactly one argument (0 given)

In [43]:
myset.discard("kohli")

In [45]:
myset.discard("Bhavik")

In [47]:
myset

{2, 4, 'rahul'}

In [49]:
myset.clear()

In [51]:
myset

set()

In [61]:
my_set = {1,2,3,4,5}

In [63]:
your_set = {4,5,6,10,7}

In [67]:
our_set = my_set.union(your_set)

In [72]:
our_set

{1, 2, 3, 4, 5, 6, 7, 10}

In [74]:
my_set.difference(your_set) # my_set - your_set

{1, 2, 3}

In [80]:
your_set.difference(my_set) # your_set - my_set

{6, 7, 10}

In [82]:
my_set.symmetric_difference(your_set) # common elements are removed

{1, 2, 3, 6, 7, 10}

In [84]:
my_set.intersection(your_set)

{4, 5}

In [116]:
my_set.update(your_set) # used to merge your_Set in my_set and store only unique elements and duplicate elements only once

In [118]:
my_set

{1, 2, 3, 4, 5, 6, 7, 10}

In [180]:
my_set.update(['Ten', 'Twenty','Thirty']) # updte is also used to add multiple elements in my_set

In [182]:
my_set

{1, 10, 2, 3, 4, 5, 6, 7, 'Ten', 'Thirty', 'Twenty'}

In [172]:
myet1 = {1,2,3,4,5}

In [174]:
myset2 = {5,6,7,8,9}

In [176]:
myset2.difference_update(myset1) # used to remove common element from myset2 and print it

In [178]:
myset2

{6, 7, 8, 9}

In [112]:
myset1.difference_update(myset2) # used to remove common element from myset1 and print it but in our above cell we have
# removed common element so there is no common point

In [114]:
myset1

{1, 2, 3, 4, 5}

In [120]:
myset3 = {10, 20, 30, 40, 50}

In [124]:
myset4 = {40, 50, 60, 90, 100}

In [126]:
myset4.intersection_update(myset3)

In [128]:
myset4

{40, 50}

In [130]:
myset3.symmetric_difference_update(myset4)

In [132]:
myset3

{10, 20, 30}

In [134]:
set1 = {0.1, 0.2, 0.3, "SSIT"}

In [136]:
set2 = {0.2, "SSIT"}

In [138]:
set1.issubset(set2)

False

In [140]:
set2.issubset(set1)

True

In [148]:
set1.isdisjoint(set2) # It will return true whenever there is no common elements in both sets

False

In [150]:
set2.isdisjoint(set1)

False

In [156]:
set1.issuperset(set2) # Superset means that set1 should have all the elements that are present in set2

True

In [158]:
# Remember set1 is parent set & set2 is child set

In [162]:
set3 = set2.copy()

In [164]:
set3

{0.2, 'SSIT'}

In [184]:
set3[0]

TypeError: 'set' object is not subscriptable

In [188]:
# Indexing is not possible in sets

# Membership in sets

In [193]:
0.2 in set3

True

In [195]:
"SSIT" in set3

True

In [197]:
6 in set3

False