# Tuples

* Elements can only be viewed the elements if once created a tuple
* Ordering matters
* Initialised using ( )
* It is Immutable
* Duplicates are allowed
* Elements of all data types can be stored
* Elements can't be updated, changed they just can be viewed and count the number that how many times the element is repeated

## Creation of Tuples

In [8]:
tup = () # Empty tuple created

In [10]:
tup1 = (0,1,2,3, "Bhavik", True, 34.5) # Elements of all data types can be stored

In [12]:
type(tup1)

tuple

## Functions used in Tuple

* count
* index
* del

In [20]:
tup1[2:5] # Slicing in Tuple

(2, 3, 'Bhavik')

In [22]:
tup2 = (10, 10, 30, 20, 34, 56.5)

In [24]:
tup2.count(10)

2

In [30]:
tup2.index(10)

0

In [155]:
del tup2

## Operations Performed on tuple

* any
* all
* repetition
* membership testing
* len
* unpacking
* sorted
* max, min, sum
* changing list into tuple

In [158]:
tup3 = (0,0,0)

In [42]:
print(any(tup3)) # Print true if there is element present another than 0 in tup3

False

In [46]:
print(all(tup3))

False

In [58]:
tup4 = (7,3,1)

In [60]:
print(all(tup4)) # Print true if all element present are not 0

True

In [63]:
tup5 = (1,2,4)

In [65]:
tup6 = (5 * tup5) # Repetition of elements of tup5 for 5 times and store it into tup6

In [67]:
tup6

(1, 2, 4, 1, 2, 4, 1, 2, 4, 1, 2, 4, 1, 2, 4)

In [73]:
print(5 in tup6) # Checking whether the element 5 is present in tup6 or not if yes it gives true and otherwise it gives false

False

In [75]:
print(4 in tup6)

True

In [79]:
print(len(tup6)) # used to find the no of elements present in tup6

15

In [89]:
tup7 = (1, 2.5, True, "Bhavik")

In [99]:
a, b, c, d = tup7 # we are using unpacking operation here which means that we are assigning pat names to our elements
# of our tuple and we can print them using our pat names

In [93]:
tup7

(1, 2.5, True, 'Bhavik')

In [94]:
print(a, b, c, d)

1 2.5 True Bhavik

In [101]:
print(sorted(tup7))

TypeError: '<' not supported between instances of 'str' and 'bool'

In [103]:
tup8 = (2,1,34,5,10)

In [107]:
print(sorted(tup8)) # using sorted we can sort the elements of tuple

[1, 2, 5, 10, 34]

In [115]:
print(max(tup8)) # used to find max element of tup8

34

In [117]:
print(min(tup8)) # used to find min element of tup8

1

In [119]:
print(sum(tup8)) # used to find sum of all elements of tup8

52

In [122]:
list1 = [2,34,5]

In [128]:
list1

[2, 34, 5]

In [126]:
type(list1)

list

In [130]:
tup9 = tuple(list1)

In [132]:
tup9

(2, 34, 5)

In [134]:
type(tup9)

tuple

In [164]:
tup10 = (2,5,4,9)

In [166]:
tup11 = (5 * tup10)

In [168]:
tup11

(2, 5, 4, 9, 2, 5, 4, 9, 2, 5, 4, 9, 2, 5, 4, 9, 2, 5, 4, 9)

In [169]:
tup10.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [171]:
del tup10

In [176]:
del tup11

NameError: name 'tup11' is not defined

## List in Tuple

In [179]:
tup12 = (12, 23, [34, 50], [100], 200)

In [181]:
# Now we can change the elements of list present in tuple

In [183]:
 tup12[2]

[34, 50]

In [187]:
tup12[2][1] = 500

In [189]:
tup12

(12, 23, [34, 500], [100], 200)