# Functions

In [66]:
info = { "Name" : "Bhavik", "Id": 1, "country": "India"}

In [80]:
def details(Name, Id, country):
    for i in info:
        print(i.keys, info.values)

In [82]:
details("Bhavik", 22, "India")

<built-in method keys of dict object at 0x000001FBAA42FB80> <built-in method values of dict object at 0x000001FBAA42FB80>
<built-in method keys of dict object at 0x000001FBAA42FB80> <built-in method values of dict object at 0x000001FBAA42FB80>
<built-in method keys of dict object at 0x000001FBAA42FB80> <built-in method values of dict object at 0x000001FBAA42FB80>

In [24]:
list1 = []
even_list = []
odd_list = []

In [28]:
for i in range(50):
    list1.append(i)

In [32]:
for i in range(50):
    if i % 2 == 0:
        even_list.append(i)

    else:
        odd_list.append(i)

print(even_list)
print(odd_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [88]:
for i in range(50):
    list1.append(i)

In [90]:
def even(list1):
    for i in list1:
        if i % 2 == 0:
           print(i)

In [92]:
def odd(list1):
    for i in list1:
        if i % 2 != 0:
            print(i)

In [94]:
even(list1)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [96]:
value = input("Enter any number or name").lower()
def palindrome(number):
    if value == value[::-1]:
        print("It's a palindrome Number")

    else:
        print("It's not a palindrome Number")

palindrome(value)

Enter any number or name malayalam

It's a palindrome Number

In [98]:
min(list1)

0

In [108]:
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [128]:
list4 = []

In [130]:
for i in range(50):
    list4.append(i)

In [132]:
def even(list4):
    list5 = []
    list6 = []
    for i in list1:
        if i % 2 == 0:
            list5.append(i)
        else:
            list6.append(i)
    print("Even Numbers are : ", list5)
    print("Odd Numbers are : ", list6)

In [134]:
even(list4)

Even Numbers are :  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Odd Numbers are :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]