## String Concatenation

In [2]:
s1 = "Hello"

In [4]:
s2 = "Bhavik"

In [6]:
s1 + s2

'HelloBhavik'

In [8]:
s1 + " " + s2

'Hello Bhavik'

In [10]:
"data" + " " + 'science'

'data science'

In [20]:
s1 = "Hi"
s2 = "I"
s3 = "am"
s4 = "bhavik"

In [22]:
s1 + " " + s2 + " " +  s3 + " " +  s4

'Hi I am bhavik'

## String Membership

In [67]:
str2 = "data Science"

In [230]:
ans = "Data" in str2

In [232]:
print(ans)

False

In [234]:
ans1 = "data" in str2

In [236]:
print(ans1)

True

In [48]:
str3 = " Data Analyse "

In [52]:
str3.strip() # used to remove whitespaces of string

'Data Analyse'

* whitespace means the space at the start and at the end

In [61]:
str3.rstrip() # used to remove whitespaces of string from right side

' Data Analyse'

In [59]:
str3.lstrip() # used to remove whitespaces of string from left side

'Data Analyse '

In [250]:
lowerstr = "i am sentence"

In [252]:
lowerstr.upper()

'I AM SENTENCE'

In [246]:
upperstr = "I AM SENTENCE"

In [248]:
upperstr.lower()

'i am sentence'

In [73]:
str2.capitalize()

'Data science'

In [77]:
str4 = "Hello My Friend Bajarangbali"

In [79]:
str4.startswith("He")

True

In [81]:
str4.endswith("li")

True

## Typecasting

* Type casting is the method to convert the variable data type into a certain data type in order to the operation to be performed by users.
* There are 2 ways in which typecasting is performed.
  1. Auto Typecasting
  2. Forced Typecasting

## Auto Typecasting

* The Python intrpreter automatically converts one data type to another without any user involvement.

In [99]:
4 + 5.67 + False

9.67

In [101]:
4 + 3 + 'data' + 6.7  # here the machne can't be able to convert str and int datatype ito any datatype

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [103]:
True + 3.5

4.5

In [105]:
1000 + True + True + 1.5

1003.5

In [107]:
10 + True + False

11

In [109]:
10 * True * False

0

## Forced Typecasting

In [112]:
a = 10.7

In [114]:
a

10.7

In [116]:
type(a)

float

In [118]:
int(a) # Converting float to int datatype

10

In [120]:
bool(a) # Converting float to bool datatype

True

In [124]:
str(a) # Converting float to string datatype

'10.7'

In [126]:
a1 = 0

In [134]:
type(a1)

int

In [140]:
bool(a1) # Converting int to bool datatype

False

In [138]:
str(a1) # Converting int to string datatype

'0'

In [136]:
float(a1) # Converting int to float datatype

0.0

In [142]:
a2 = "Bhavik"

In [144]:
type(a2)

str

In [146]:
float(a2) # Converting str to float datatype

ValueError: could not convert string to float: 'Bhavik'

In [154]:
int(a2) # Converting str to int datatype

ValueError: invalid literal for int() with base 10: 'Bhavik'

In [152]:
bool(a2) # Converting str to bool datatype

True

# Arithmetic Operators

* Addition +
* Subtraction -
* Multiple *
* Divide /
* floor divide //
* remainder %
* Power **

### Concatenate str using + operator

In [170]:
str01 = "Laptop Price"

In [172]:
str02 = "50K"

In [174]:
str01 + " " + str02

'Laptop Price 50K'

## Addition

In [180]:
n1 = 5

In [182]:
n2 = 10

In [184]:
n1 + n2

15

# Comparison Operators

* Equal to ==
* Not Equal to !=
* Greater than or equal to >=
* Less than and equal to <=
* greater than >
* less than <

In [200]:
x = 30
y = 11

In [202]:
print('Is x less than y :- ', x < y)
print('Is x greater than y :- ', x > y)
print('Is x lesser than or equal to y :- ', x <= y)
print('Is x greater than or equal to y :- ', x >= y)
print('Is x equal to y :- ', x == y)
print('Is x not equal to y :- ', x != y)

Is x less than y :-  False
Is x greater than y :-  True
Is x lesser than or equal to y :-  False
Is x greater than or equal to y :-  True
Is x equal to y :-  False
Is x not equal to y :-  True

# Let's do it on string

In [219]:
a = "Data"
b = "science"
c = "data"
d = "Data"

In [221]:
a == b

False

In [223]:
a == c

False

In [225]:
a != b

True

In [228]:
a == d

True