### Practice of nested if else

In [6]:
username = "Bhavik"
age = 22
country = "India"

In [22]:
user_name  = input("Enter Your Name")
if user_name == username:
    print("You entered correct username")
    user_age = int(input("Enter Your Age"))
    if user_age == age:
        print("You Entered Correct Age")
        user_country = input("Enter Your Country")
        if user_country == country:
            print("You entered correct country")

Enter Your Name Bhavik

You entered correct username

Enter Your Age 22

You Entered Correct Age

Enter Your Country India

You entered correct country

### Practice of if else

In [40]:
name1 = input("Enter Your Name")
if name1 == name1.upper():
    print("ALL words are capital")

else:
    print("All words are not capital")

Enter Your Name ROHIT

ALL words are capital

### Check whether string is palindrome or not

In [74]:
str1 = input("Enter any String").lower()
if str1 == str1[::-1]:
    print("It's a Palindrome no.")

else:
    print("Not a Palindrome no.")

Enter any String Radar

It's a Palindrome no.

## Datetime Package

In [81]:
from datetime import date

In [83]:
my_date = date(2004,12,13)

In [85]:
my_date

datetime.date(2004, 12, 13)

In [87]:
today1 = date.today()

In [89]:
today1

datetime.date(2024, 12, 23)

In [95]:
today1.day

23

In [99]:
today1.month

12

In [101]:
today1.year

2024

In [103]:
today1.isoweekday()

1

In [117]:
# Get Today's date month and year
print("Today's Date is ", today1.day)
print("Today's Month is ", today1.month)
print("Today's Year is ", today1.year)

Today's Date is  23
Today's Month is  12
Today's Year is  2024

In [119]:
from datetime import datetime as dt

In [123]:
date1 = dt.now()

In [125]:
date1

datetime.datetime(2024, 12, 23, 18, 51, 48, 544603)

In [127]:
dt.date(date1)

datetime.date(2024, 12, 23)

In [131]:
date1.microsecond

544603

In [133]:
date1.second

48

In [145]:
date1.minute

51

In [147]:
date1.hour

18

In [148]:
date1.day

23

In [149]:
date1.month

12

In [151]:
date1.year

2024

In [152]:
date1.isoweekday()

1

In [159]:
import calendar as cl

In [161]:
print(cl)

<module 'calendar' from 'C:\\Users\\glenn\\anaconda3\\Lib\\calendar.py'>

In [163]:
year = 2004
month = 12

In [165]:
print(calendar.month(year,month))

   December 2004
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

# Practice Question : Leap Year

In [16]:
year = int(input("Enter Any Year to check is it a leap year or not ??"))
if ((year % 4 == 0) and (year % 100 != 0)):
    print("Entered Year is a leap year")

else:
    print("Entered Year is not leap year")

Enter Any Year to check is it a leap year or not ?? 1600

Entered Year is not leap year

In [20]:
year1 = int(input("Enter any year"))
if year1 % 4 == 0:
    if year1 % 400 == 0 or year1 % 100 != 0:
        print(year1, "is leap year")

    else:
        print(year1, "is not a leap year")

else:
    print(year1, "is not a leap year")

Enter any year 1910

1910 is not a leap year