# Data Structures

* It's a way where we can organise or store data. So it is easy to access or read data and easy to manipulate that data

In [31]:
# temperature of 5 days
day1 = 32
day2 = 33.3
day3 = 31
day4 = 30
day5 = 29

In [33]:
day5

29

In [35]:
day3

31

# Types of Data Structure
* List
* Tuple
* Sets
* Dictionary
* String

# Definition of List
* List is a way where we can store any type of elements or value.
* It is created by square bracket.
* It follows order.
* It is Mutable

In [41]:
list1 = [12,31,23,23,32,87,"Rohit",True,"Lords"]

In [43]:
type(list1)

list

In [45]:
print(list1)

[12, 31, 23, 23, 32, 87, 'Rohit', True, 'Lords']

In [47]:
list1

[12, 31, 23, 23, 32, 87, 'Rohit', True, 'Lords']

In [48]:
list1[3]

23

In [50]:
list1[4] = 4

In [52]:
count = 0
for i in list1:
    count += 1
    print(count,"th element", "=>",i)

1 th element => 12
2 th element => 31
3 th element => 23
4 th element => 23
5 th element => 4
6 th element => 87
7 th element => Rohit
8 th element => True
9 th element => Lords

In [53]:
list1.insert(2,"raju") # used to add one element at any particular index

In [55]:
list1

[12, 31, 'raju', 23, 23, 4, 87, 'Rohit', True, 'Lords']

In [56]:
list1.append(100) # used to add one element at last index

In [58]:
list1

[12, 31, 'raju', 23, 23, 4, 87, 'Rohit', True, 'Lords', 100]

In [60]:
list1.extend([101,102,103,104]) # used to add multiple element at last index

In [63]:
list1

[12,
 31,
 'raju',
 23,
 23,
 4,
 87,
 'Rohit',
 True,
 'Lords',
 100,
 101,
 102,
 103,
 104]

In [65]:
list1.remove("Rohit") # used to remove any element

In [66]:
list1

[12, 31, 'raju', 23, 23, 4, 87, True, 'Lords', 100, 101, 102, 103, 104]

In [68]:
list1.clear() # used to delete all elements from list and make it clear

In [69]:
list1

[]

In [71]:
list1.append(3)

In [73]:
list1

[3]

In [75]:
list2 = [10,20,30,100,300,400,11,21,2,2,4]

In [76]:
list2

[10, 20, 30, 100, 300, 400, 11, 21, 2, 2, 4]

In [78]:
list2.sort()

In [80]:
list2

[2, 2, 4, 10, 11, 20, 21, 30, 100, 300, 400]

In [82]:
list2.sort(reverse = True)

In [84]:
list2

[400, 300, 100, 30, 21, 20, 11, 10, 4, 2, 2]

In [85]:
list3 = [1,2,3, [4,3,6,7], [10, [12, [20, [32]]]]]

In [87]:
list3

[1, 2, 3, [4, 3, 6, 7], [10, [12, [20, [32]]]]]

In [89]:
list3[3:2:1]

[]

In [91]:
list3[2:3:1]

[3]

In [93]:
list3[2:4:1]

[3, [4, 3, 6, 7]]

In [95]:
list3[2:5:1]

[3, [4, 3, 6, 7], [10, [12, [20, [32]]]]]

In [96]:
list3[4][1][1][1]

[32]

# Tuples

* It's a way where we can organise or store an element or values.
* Once we created a tuple we can't change values of tuples
* We can't replace, add, update and delete values of tuples after created.

In [112]:
tup = ()

In [114]:
type(tup)

tuple

In [116]:
tup = (1,2,3,4,2,5,6,6,7)

In [118]:
tup

(1, 2, 3, 4, 2, 5, 6, 6, 7)

In [122]:
tup1 = ("Hello", 1,2,3,1) # multiple data types of element can be stored

In [130]:
tup2 = (10,20,30) # Tuple of integer Numbers

In [132]:
tup2

(10, 20, 30)

In [134]:
tup3 = (10.77,30.66,66.34) # Tuple of float Numbers

In [140]:
tup4 = ("one", "two", "three") # Tuple of string

In [142]:
tup4

('one', 'two', 'three')

In [144]:
tup5 = (10,20,30, [30,40], [20,30], (100,200)) # Nested Tuples

In [235]:
tup5[4].count(20)

1

In [189]:
tup6 = (100, 'Data', 17.65) # Tuples of mixed data types

# Tuple Indexing

In [153]:
tup6[2]

17.65

In [155]:
tup6[1:4]

('Data', 17.65)

In [157]:
tup6[0]

100

In [163]:
tup6[0] = "John" # They are Immutable nor we can delete items

TypeError: 'tuple' object does not support item assignment

In [179]:
tup5[3][1] = 50 # changing element of list in tuple it is possible as list in=s present in tuple

In [181]:
tup5.count(20)

1

In [231]:
tup5[]

SyntaxError: invalid syntax (2779282979.py, line 1)

In [185]:
del tup6

In [193]:
tup6.index("Data")

1

# SET

* It's a way where we can store element or values. Set is created by curly bracket.
* It does not follows order.
* set doesn't allows duplicate values or we can say tht it contain only unique values
* Set is Mutable.

In [197]:
myset1 = {} # Empty set cant be created by curly braces

In [201]:
type(myset1)

dict

In [203]:
myset = {1,2,3,4,5}

In [205]:
myset

{1, 2, 3, 4, 5}

In [207]:
type(myset)

set

In [209]:
myset = set() # This is the way to create an empty set

In [211]:
type(myset)

set

In [213]:
myset1 = {1,2,3,4,5,6}

In [215]:
len(myset1)

6

In [217]:
myset2 = {20,10,30,5}

In [225]:
myset2

AttributeError: 'set' object has no attribute 'sort'

In [221]:
my_set3 = {1,1,2,3,5,5,7,8} # Duplicate elements are not allowed

In [223]:
my_set3

{1, 2, 3, 5, 7, 8}

In [247]:
my_set4 = {1,2,3,4,"Tyrion", True,45.6} # Mixed set of strings int and float

In [251]:
my_set4

{1, 2, 3, 4, 45.6, 'Tyrion'}

In [253]:
my_set5 = {'one', 'two', 'three'}

In [255]:
my_set5

{'one', 'three', 'two'}

In [257]:
my_set5[0] # Indexing is not possible in sets

TypeError: 'set' object is not subscriptable

In [269]:
my_set5.add(20) # Add Item in set using add() Method

In [271]:
my_set5

{20, 'Ten', 'Thirty', 'Twenty', 'one', 'three', 'two'}

In [277]:
my_set5.update(['Ten', 'Twenty', 'Thirty']) # Add multiple items in set using update method

In [279]:
print(my_set5)

{'three', 'Twenty', 'Ten', 20, 'Thirty', 'two', 'one'}

In [295]:
my_set5.remove('Ten') # Removes given element

KeyError: 'Ten'

In [297]:
my_set5.pop() # Removes first element

KeyError: 'pop from an empty set'

In [ ]:
my_set5.clear() # Delete all items in a set

In [ ]:
my_set5

In [303]:
A = {1,2,3,4,5}

In [313]:
B = {5,7,8,9,10}

In [315]:
A.union(B)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [317]:
B.union(A)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [319]:
B.intersection(A)

{5}

In [321]:
B.difference(A)

{7, 8, 9, 10}

In [323]:
A.difference(B)

{1, 2, 3, 4}

# MEMBERSHIP IN SET

In [330]:
5 in A # Check if 5 is present in A

True

In [332]:
"Five" in A

False

In [336]:
A

{1, 2, 3, 4, 5}

# Dictionary

* Dictionary is a mutable data type in python. A python dictionary is a collection of key and value pairs separated by a colon(:) & enclosed by curly braces{}. Keys must be unique in dict, duplicate values are allowed.

In [340]:
mydict = dict() # Making Empty Dictionary

In [342]:
type(mydict)

dict

In [352]:
my_dict = {"Name" : "Bhavik", "Age": 21, "Country" : "USA"}

In [354]:
my_dict

{'Name': 'Bhavik', 'Age': 21, 'Country': 'USA'}

In [356]:
my_dict["Name"]

'Bhavik'

In [372]:
my_dict["Age"] = 22 # Adding new key and values

In [374]:
my_dict

{'Name': 'Bhavik', 'Age': 22, 'Country': 'USA'}

In [375]:
my_dict.keys()

dict_keys(['Name', 'Age', 'Country'])

In [377]:
my_dict.values()

dict_values(['Bhavik', 22, 'USA'])

In [379]:
my_dict.items()

dict_items([('Name', 'Bhavik'), ('Age', 22), ('Country', 'USA')])

In [388]:
my_dict["Country"] = "Russia" # Targetting items by keys and changing values

In [390]:
my_dict

{'Name': 'Bhavik', 'Age': 22, 'Country': 'Russia'}

In [392]:
my_dict

{'Name': 'Bhavik', 'Age': 22, 'Country': 'Russia'}

In [394]:
del my_dict["Country"]

In [396]:
my_dict

{'Name': 'Bhavik', 'Age': 22}

In [410]:
my_dict.update({"college" : "SSIT", "Branch":"I.T"})

In [412]:
my_dict

{'Name': 'Bhavik', 'Age': 22, 'college': 'SSIT', 'Branch': 'I.T'}

In [414]:
my_dict.pop('Branch') # Removing Items in dictionary using pop method

'I.T'

In [416]:
my_dict

{'Name': 'Bhavik', 'Age': 22, 'college': 'SSIT'}

In [418]:
my_dict.popitem() # Used to remove last item in dict

('college', 'SSIT')

In [420]:
my_dict

{'Name': 'Bhavik', 'Age': 22}

In [426]:
my_dict.clear() # Used to remove all items in dict

In [428]:
my_dict

{}